<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Keep the optional diagnostic launcher in development APKs only. -->
        <activity
            android:name=".TouchDiagnosticActivity"
            android:exported="true"
            android:label="Touch Sensor Test"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
